#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  button{
    margin: 5px;
    padding: 15px;
  }

  button:hover{
    background-color: #329071;
  }

  .link{
    color: white;
  }

  .link:hover{
    color: white;
  }

  h1{
    color: black;
  }

  @media (max-width: 768px){
   .lin{
    color: white;
   }
  
  }
 